.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    width: 230px;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 15px;
}

.input-box input::placeholder {
    color: #00000050;
}

.continue-button button {
    width: 100%;
    margin-top: 25px;
    border: none;
    background-color: #ce7500;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover {
    background-color: #834a00;
}

.continue-button button a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}