@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');

* {
    margin: 0;
}

p {
    font-size: 19px;
    margin-top: -40px;
    font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
}

h4 {
    margin-top: 20px;
    margin-bottom: 65px;
    font-size: 18.2px;
    color: rgb(255, 255, 255);
    font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
}

body {
    transition: 0.5s;
    background-color: #202020;
}

body.dark-mode {
    transition: 0.5s;
    background-color: #790000;

}

#ChangeTheme {
    opacity: 0;
}

.home {
    background-color: rgb(0, 0, 0);
}

#logo {
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    margin-top: 18px;
    margin-left: 115px;
    justify-content: center;
    width: 100%;
}

.menu ul li {
    margin-top: 40px;
    list-style-type: none;
    display: inline-block;
    margin-right: 3vh;
}

.menu ul li a {
    padding: 10px;
    border-radius: 15px;
    color: rgba(233, 136, 57, 0.6);
    text-decoration: none;
    font-family: "Croissant One", serif;
    transition: 1s;
    font-size: 20px;
}

.menu a:hover {
    padding: 10px 35px;
    border-radius: 15px;
    background-color: rgb(88, 51, 2);
    transition: 0.5s;
    color: rgba(233, 136, 57, 0.6);
}

#itensMenu .carrinho,
#itensMenu #lua,
#itensMenu .pessoaLogin {
    display: inline-block;
    margin-top: 40px;
}

#itensMenu{
    padding-left: 80px;
}

.carrinho {   
    font-size: 28px;
    padding: 0 20px;
}

.carrinho :hover {
    display: flex;
    margin-top: -0.3px;
    text-decoration: none;
    color: rgba(255, 255, 255, 1) !important;
}

#lua {
    font-size: 25px;
    padding: 0 20px;
}

#lua :hover {
    display: flex;
    cursor: pointer;
    margin-top: -0.3px;
    text-decoration: none;
    color: rgba(255, 255, 255, 1) !important;
}

.pessoaLogin {
    font-size: 32px;
    padding: 0 20px;
}

.pessoaLogin :hover {
    display: flex;
    margin-top: -0.3px;
    text-decoration: none;
    color: rgba(255, 255, 255, 1) !important;
}

.risco {
    border-bottom: 1.5px solid rgba(233, 136, 57, 0.6);
    margin-bottom: 30px;
}

#banner {
    background-image: url(../img/banners/banner\(home\).png);
    height: 70vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
    justify-content: center;
    margin-bottom: 50px;
}

.icones {
    display: flex;
    margin-top: 80px;
    margin-left: 1230px;
    font-size: 35px;
}

.icones a {
    Text-decoration: none
}

.icones a :hover {
    Text-decoration: none;
    display: flex;
    padding-top: 10px;
    color: rgba(233, 136, 57, 0.6) !important;
}

.icones #insta {
    display: flex;
    margin-top: 15px;
    margin-left: 20px;
    cursor: pointer;
}

.icones #youtube {
    display: flex;
    margin-top: 15px;
    margin-left: 20px;
    cursor: pointer;
}

.icones #twt {
    display: flex;
    margin-top: 15px;
    margin-left: 20px;
    cursor: pointer;
}

.titulo {
    display: flex;
    justify-content: center;
    font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
    font-weight: bold;
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin-bottom: 50px;
    text-transform: uppercase;
    background-color: rgb(0, 0, 0);
    height: 100px;
    border: 4px solid rgba(233, 136, 57, 0.6);
    padding-top: 15px;
}

#produtos figure{
    /* background-color: rgb(116, 68, 5); */
    background: linear-gradient(to top, rgb(54, 31, 1), rgb(0, 0, 0));
    border: 4px solid rgba(233, 136, 57, 0.6);
    text-align: center;
    padding: 0 0;
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
    margin-top: 30px;
}

#produtos figure figcaption {
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 130px;
}

.preçoescrito {
    color: rgba(233, 136, 57, 0.6);
    margin-right: 100px;
    font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
}

#produtos figure figcaption span.preco {
    color: rgb(233, 136, 57);
    font-weight: 900;
    font-size: 1.2rem;
    text-align: end;
}

.foto-produto {
    width: 100%;
    max-width: 320px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 5px solid rgba(233, 136, 57, 0.6);
    max-height: 390px;
    height: 400px;
    object-fit: cover;
}

#banner2 {
    background-image: url(../img/banners/bannerdrink.png);
    height: 70vh;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
    background-repeat: no-repeat;
    background-position: top;
}

#banner3 {
    background-image: url(../img/banners/bannerdoce.png);
    height: 70vh;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
    background-repeat: no-repeat;
    background-position: top;
}

#banner4 {
    background-image: url(../img/banners/porçoes.png);
    height: 70vh;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
    background-repeat: no-repeat;
    background-position: top;
}

footer {
    background-color: #000000;
    color: rgb(233, 136, 57);
    padding: 40px 0;
    border-top: 5px solid rgba(233, 136, 57, 0.6);
}

footer h5 {
    margin-left: 60px;
    font-weight: bold;
}

footer a {
    margin-left: 60px;
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: rgb(122, 121, 121);
}

.footer-bottom {
    text-align: center;
    padding: 5px 0;
    border-top: 1px solid #ccc;
    margin-top: 40px;
}

.footer-bottom div {
    color: white;
    font-weight: 300;
}
