@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');

* {
    margin: 0; 
}

.banner{
    background-image: url(img/banner.png);
    background-size: cover;
    width: 204vh;

} 

/* menu botao */
.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline-block;
    padding-block-end: 60px;
    margin-right: 2.5vh;
    margin-top: 15%;
}

.menu .linhas {
    background-color: rgba(243, 123, 0, 0.25);
    
}

.menu ul li a {
    border: 1px solid rgb(255, 255, 255);
    
    padding: 5px 35px;
    
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    
    color: white;
    text-decoration: none;
    font-family: "Croissant One", serif;
}

.menu a:hover {
    border: 1px solid rgb(0, 0, 0);

    padding: 5px 35px;

    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.5);
}

header {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-left: 55%;
}
/* menu botao */

.carrinho{
    display: flex;
    margin-top: -7%;
    margin-left: 5%;
}

.destaque{
    display: flex;
    justify-content: center;
    margin-top: 8%;

}


.fundo {
    background: linear-gradient(rgba(130, 61, 12, 0.5),
            rgba(0, 0, 0, 0.6)), url(img/fundo\(site\).png);

    background-size: cover;
    height: 200vh;
}