@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');

* {
    margin: 0; 
}

.logo {
    width: 300px;
}


/* menu */

.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline-block;
    padding-block-end: 60px;
    margin-right: 2.5vh;
}

.menu .linhas {
    background-color: rgba(243, 123, 0, 0.25);
}

.menu ul li a {
    border: 1px solid rgb(255, 255, 255);
    
    padding: 5px 35px;
    
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    
    color: white;
    text-decoration: none;
    font-family: "Croissant One", serif;
}

.menu a:hover {
    border: 1px solid rgb(0, 0, 0);

    padding: 5px 35px;

    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.5);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* final menu */

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10vw;

}

.home {
    background: linear-gradient(rgba(130, 61, 12, 0.5),
            rgba(0, 0, 0, 0.7)), url(img/foto\(fundo\).png);

    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;

}