.carrossel-container{
    max-width: 100%;
    width: 1700px;
    max-height: 720px;
    padding-right: 40px;
    padding-left: 10px;

    position: relative;
    border-radius: 10px;

    overflow: hidden;

}

.carrossel{
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 10px;
}

.carrossel-container button{
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(233, 136, 57, 0.6);
    color: rgb(0, 0, 0);
    font-size: 30px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

.carrossel-container button :hover{

    color: rgba(255, 255, 255, 0.7);
}

.carrossel-container button.anterior{
    left: 10px;
}

.carrossel-container button.proximo{
    right: 10px;
}