#bannersobre {
    height: 60vh;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 5px solid rgba(233, 136, 57, 0.6);
    border-bottom: 5px solid rgba(233, 136, 57, 0.6);
}

.filtro{

    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 520px;
    width: 200px;
    background-color: rgb(221, 30, 30);
}