@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


.container-login P{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.body-login{
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(rgba(130, 61, 12, 0.3), rgba(0, 0, 0, 0.7)), url(../img/fundo/final\(login\).png);
    background-position: center;
}

.container-login form a.voltardireita{
    display: flex;
    font-size: 25px;
    margin-right: 280px;
}

.container-login form a.voltardireita:hover{
    display: flex;
    color: #684005;
    margin-right: 285px;
    cursor: pointer;
}

.container-login .logar{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container-login .criar{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container-login .esqueceu:hover{
    color: blue;
}

.container-login {
    background-color: #ffffff;
    border-radius: 40px;
    position: relative;
    width: 800px;
    max-width: 100%;
    min-height: 480px;
}

.container-login  span{
    font-size: 12px;
}

.container-login  a{
    color: #333;
    font-size: 13px;
    margin: 15px 0 10px;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.container-login  .criar{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

.container-login  input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.container-login .botaofinal:hover{
    border: 1px solid #000000;
}

.container-login button{
    background-color: #a8812d;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 10px;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
}

.container-login  button.botao{
    background-color: transparent;
    border-color: #ffffff;
}

.container-login button.botao:hover{
    border-color: #a8812d;
}

.container-login form{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    width: 370px;
    height: 90%;
    border-radius: 20px;
}

.alternar-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .alternar-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.alternar{
    height: 100%;
    background: linear-gradient(to top, #000000, #684005);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .alternar{
    transform: translateX(50%);
}

.alternar-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.alternar-esquerda{
    transform: translateX(-200%);
}

.container.active .alternar-esquerda{
    transform: translateX(0);
}

.alternar-direita{
    right: 0;
    transform: translateX(0);
}

.container.active .alternar-direita{
    transform: translateX(200%);
}