@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');

* {
    margin: 0;
}

p {
    font-size: 19px;
    margin-top: -40px;
    font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
}

h4 {
    margin-top: 20px;
    margin-bottom: 65px;
    font-size: 18.2px;
    color: rgb(255, 255, 255);
    font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
}

h2 {
    margin-bottom: 0;
}

body {
    transition: 0.5s;
    background-color: #202020;
}

body.dark-mode {
    transition: 0.5s;
    background-color: #ffffff;

}

.logo {
    height: 120px;
}

.cabeçalho ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.cabeçalho .menu li a {
    font-family: "Croissant One", serif;
    font-size: 18px;
    padding: 8px;
    border-radius: 8px;
    color: rgba(233, 136, 57, 0.6);
    text-decoration: none;
    transition: 1s;
}

.cabeçalho .menu li a:hover {
    padding: 10px 40px;
    border-radius: 8px;
    color: white;
    background-color: rgba(233, 136, 57, 0.3);
    border-radius: 25px;
    text-decoration: none;
    transition: 0.7s;
}

.select-opcoes {
    position: absolute;
    box-shadow: 0 0 2px black;
    display: none;
}

.select-opcoes a {
    display: block;
}

.select-opcoes a:hover {
    border-radius: inherit !important;
    width: 180px !important;
    margin-top: 10px;
}

.select-principal:hover .select-opcoes {
    display: block;
    background-color: rgb(54, 31, 1);
}

.menu-icons li a {
    font-size: 25px;
    color: rgba(233, 136, 57, 0.6);
}

.menu-icons li a:hover {
    color: rgb(255, 255, 255);
}

.cabeçalho label {
    display: flex;
    padding-right: 10px;
}

#sol {
    font-size: 25px;
    color: rgba(233, 136, 57, 0.6);
    cursor: pointer;
}

#ChangeTheme {
    opacity: 0;
}

#sol:hover {
    color: white;
    font-size: 25px;
}

header {
    background-color: rgb(0, 0, 0);
    width: 100%;
    border-bottom: 5px solid rgba(233, 136, 57, 0.6);
}

header nav {
    display: flex;
    align-items: center;
}

#Menu-Comeco {
    display: flex;
    margin-top: 10px;
}

#Menu-meio {
    display: flex;
    justify-content: center;
}

#Menu-fim {
    display: flex;
    justify-content: end;
}

.procurar-box {
    display: flex;
    background-color: rgba(233, 136, 57, 0.6);
    height: 35px;
    padding: 5px;
    border-radius: 90px;
    align-items: center;
    padding: 10px;
    margin-top: 3px;
}

.procurar-texto {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    font-size: 15px;
    line-height: 20px;
    width: 0;
    transition: .7s;
    color: white;
}

.procurar-botao {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba(146, 82, 29, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}

.procurar-botao:hover {
    color: rgb(255, 255, 255);
}

.procurar-box:hover>.procurar-texto {
    width: 130px;
    padding: 0 8px;
    transition: .7s;
}

#lupa {
    font-size: 20px;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.4);
}

#banner {
    background-image: url(../img/banners/banner\(home\).png);
    height: 60vh;
    width: 100%;
    margin-bottom: 60px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#icones {
    display: flex;
    margin-top: 10px;
    font-size: 25px;
}

#icones a {
    Text-decoration: none
}

#icones a :hover {
    Text-decoration: none;
    display: flex;
    color: rgba(233, 136, 57, 0.6) !important;
}

#icones #estilo {
    display: block;
    margin-top: 10px;
    cursor: pointer;
}

.titulo {
    display: flex;
    justify-content: center;
    font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
    font-weight: bold;
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    background-color: rgb(0, 0, 0);
    height: 100px;
    border: 4px solid rgba(233, 136, 57, 0.6);
    padding-top: 15px;
}

#produtos figure {
    /* background-color: rgb(116, 68, 5); */
    background: linear-gradient(to top, rgb(54, 31, 1), rgb(0, 0, 0));
    border: 4px solid rgba(233, 136, 57, 0.6);
    text-align: center;
    padding: 0 0;
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
    margin-top: 30px;
}

#produtos figure figcaption {
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 130px;
}

.preçoescrito {
    color: rgba(233, 136, 57, 0.6);
    margin-right: 100px;
    font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
}

#produtos figure figcaption span.preco {
    color: rgb(233, 136, 57);
    font-weight: 900;
    font-size: 1.2rem;
    text-align: end;
}

.foto-produto {
    width: 100%;
    max-width: 320px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 5px solid rgba(233, 136, 57, 0.6);
    max-height: 390px;
    height: 400px;
    object-fit: cover;
}

#banner2 {
    background-image: url(../img/banners/bannerdrink.png);
    height: 50vh;
    width: 100%;
    margin-bottom: 60px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#banner3 {
    background-image: url(../img/banners/bannerdoce.png);
    height: 50vh;
    width: 100%;
    margin-bottom: 60px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#banner4 {
    background-image: url(../img/banners/porçoes.png);
    height: 50vh;
    width: 100%;
    margin-bottom: 60px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer {
    background-color: #000000;
    color: rgb(233, 136, 57);
    padding: 40px 0;
    border-top: 5px solid rgba(233, 136, 57, 0.6);
}

footer h5 {
    margin-left: 60px;
    font-weight: bold;
}

footer a {
    margin-left: 60px;
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: rgba(233, 136, 57, 0.6);
}

.footer-bottom {
    text-align: center;
    padding: 5px 0;
    border-top: 1px solid #ccc;
    margin-top: 40px;
}

.footer-bottom div {
    color: white;
    font-weight: 300;
}