@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');

* {
    margin: 0;
}

.fundinho p, .fundinho2 p {
    display: flex;
    font-size: 20px;
    margin-top: 50px;
    margin-right: 60px;
    margin-left: 60px;
    color: rgb(0, 0, 0);
    
}

.fundinho h2, .fundinho2 h2{
    display: flex;
    margin-top: 20px;
    margin-left: 50px;
    color: rgb(0, 0, 0);
}

.fundinho h3,.fundinho2 h3 {
    display: flex;
    margin-top: 70px;
    margin-bottom: 100px;
    justify-content: center;
    font-size: 50px;
    color: rgb(0, 0, 0);
}

.centralizar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fundinho {
    display: flex;
    height: 1550px;
    width: 100%;
    max-width: 1300px;
    background: linear-gradient(rgba(185, 132, 63, 0.3), rgba(90, 39, 7, 0.8)), url(../img/fundo/hambuerguerzinhos.png);
    background-position: center;
    background-color: rgb(170, 137, 94);
    border-radius: 20px;
    border: 10px solid rgb(0, 0, 0);
}

.fundinho2 {
    display: flex;
    margin-top: 40PX;
    height: 2500px;
    width: 100%;
    max-width: 1300px;
    background: linear-gradient(rgba(185, 132, 63, 0.3), rgba(90, 39, 7, 0.8)), url(../img/fundo/hambuerguerzinhos.png);
    background-position: center;
    background-color: rgb(170, 137, 94);
    border-radius: 20px;
    border: 10px solid rgb(0, 0, 0);
}