@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');

* {
    margin: 0px;
}

*::selection{
    background-color: rgba(233, 136, 57, 0.6);
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(55, 23, 1, 0.8)), url(../img/fundo/foto\(fundo\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.menu ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 5vh;
}

.menu ul li a {
    text-decoration: none;
    color: rgba(233, 136, 57, 0.6);
    font-family: "Croissant One", serif;
    font-size: 20px;
}

.menu a:hover {
    color: white;
    transition: 0.5s;
}

header {
    display: flex;
    padding-top: 100px;
    padding-bottom: 200px;
    justify-content: center;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo {
    display: flex;
    width: 100%;
    font-size: 140px;
    justify-content: center;
    text-shadow: rgba(240, 151, 17, 0.8) 7px 0 15px;
    color: rgb(189, 153, 106);
    font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
}