* {
    margin: 0;
}

.menu ul li {
    margin-top: 40px;
    list-style-type: none;
    display: inline-block;
    margin-right: 3vh;
}

.menu ul li a {
    padding: 10px;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: "Croissant One", serif;
    transition: 1s;
    font-size: 20px;
}

.menu a:hover {
    padding: 10px 35px;
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
    transition: 0.5s;
    color: rgb(255, 255, 255);
}

header {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 10px;
}

/* menuzin */

.icones {
    display: flex;
    margin-top: 80px;
    margin-left: 1230px;
    font-size: 35px;
}

.icones #insta {
    display: flex;
    margin-top: 15px;
    margin-left: 20px;
    cursor: pointer;
}

.icones a {
    Text-decoration: none
}

.icones a :hover {
    Text-decoration: none;
    display: flex;
    padding-top: 10px;
    color: rgb(76, 138, 255) !important;
}

.icones #youtube {
    display: flex;
    margin-top: 15px;
    margin-left: 20px;
    cursor: pointer;
}

.icones #twt {
    display: flex;
    margin-top: 15px;
    margin-left: 20px;
    cursor: pointer;
}

#banner {
    background-image: url(../img/banner\(home\).png);
    height: 60vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
    justify-content: center;
    margin-bottom: 70px;
}

.carrinho {
    display: flex;
    margin-left: 35px;
    font-size: 30px;
    margin-top: -10px;
}

.carrinho :hover {
    display: flex;
}

#logo {
    display: flex;
    margin-top: 10px;
    margin-left: -100px;
}

.pesquisa {
    display: flex;
    margin-left: -15px;
    margin-top: 45px;
    font-size: 23px;
    cursor: pointer;
}

.pesquisa :hover {
    display: flex;
    color: rgb(0, 136, 255);
    cursor: pointer;
}

.temaEscuro {
    display: flex;
    margin-right: 30px;
    margin-left: 40px;
    font-size: 30px;
    margin-top: -8px;
}

.temaEscuro :hover {
    display: flex;
}

.pessoaLogin {
    display: flex;
    font-size: 35px;
    margin-top: -9px;
    margin-left: 5px;
    cursor: pointer;
}

.pessoaLogin :hover {
    display: flex;
    margin-top: -2px;
    text-decoration: none;
    color: rgb(0, 136, 255) !important;
}

.fundinho {
    display: flex;
    margin-left: 150px;
    height: 1500px;
    width: 100%;
    max-width: 1300px;
    background: linear-gradient(rgba(185, 132, 63, 0.6), rgba(90, 39, 7, 0.8));
    background-color: rgb(170, 137, 94);
    border-radius: 20px;
    border: 10px solid rgb(0, 0, 0);
}

.fundinho2 {
    display: flex;
    margin-top: 40PX;
    margin-left: 150px;
    height: 2400px;
    width: 100%;
    max-width: 1300px;
    background: linear-gradient(rgba(185, 132, 63, 0.6), rgba(90, 39, 7, 0.8));
    background-color: rgb(170, 137, 94);
    border-radius: 20px;
    border: 10px solid rgb(0, 0, 0);
}

h2 {
    display: flex;
    margin-top: 20px;
    margin-left: 50px;
    color: rgb(0, 0, 0);
}

h3 {
    display: flex;
    margin-top: 70px;
    margin-bottom: 100px;
    justify-content: center;
    font-size: 50px;
    color: rgb(0, 0, 0);
}

p {
    display: flex;
    font-size: 20px;
    margin-top: 50px;
    margin-right: 60px;
    margin-left: 60px;
    color: rgb(0, 0, 0);
}